.channel-items {
    list-style-type: none;
    padding-inline-start: 0;
}

.channel-title {
    color: var(--dark-green);
    text-decoration: none;
}

.channel-item {
    margin: 1px;
    padding: 3px 0 3px 0;
}

.channel-item-link {
    width: 100%;
}

.channel-item-link:any-link {
    transition: all .1s ease;
    color: #b0b2b6;
    text-decoration: none;
}

.channel-item-link:visited {
    color: #696a6d
}

.channel-item-link:hover {
    color: var(--dark-white);
    text-decoration: underline;
    padding-left: 10px;
}