@import "https://0ch.me/resources/fonts/iosevka-ss04/webfont.css";

body {
    margin: 0;
    background-color: #282c34;
}

.loading em {
    color: #ffffff;
}

.content {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 90vw;
    max-width: 90%;
    min-width: 200px;
}

.content * {
    font-family: 'Iosevka SS04 Web';
}

.content input {
    width: 90%;
    outline: 0;
    border: 0;
    padding: .8em;
    background-color: #383a42;
    color: #fafafa;
}

.content button {
    background-color: transparent;
    color: #dcdfe4;
    padding: .1em;
    border: none;
}

.content button:hover {
    outline: 0;
}

.content button:focus {
    outline: 0;
}

.channels {
    margin-top: 10px;
    margin-bottom: 10px;
    display: grid;
    column-gap: 0px;
    row-gap: 0px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}