@import "https://0ch.me/resources/fonts/iosevka-ss04/webfont.css";

body {
    margin: 0;
    background-color: #282c34;
}

.loading em {
    color: #ffffff;
}

.content {
    position: absolute;
    top: min(max(10%, 30vw), 30%);
    left: 50%;
    transform: translate(-50%, 0%);
    width: 90vw;
    max-width: 600px;
    min-width: 200px;
}

.content * {
    font-family: 'Iosevka SS04 Web';
}

.alias-form {
    text-align: center;
}

.alias-form input {
    width: 90%;
    outline: 0;
    border: 0;
    padding: .8em;
    background-color: #383a42;
    color: #fafafa;
}

.alias-form button {
    width: 80%
}

.alias-list {
    margin-top: 40px;
    display: block;
}

.alias-item {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 1em;
}

.alias-item .alias-id {
    height: 1em;
    font-size: .8em;
    color: #888888
}

.alias-item .alias-delete {
    position: absolute;
    top: 0em;
    right: 0;
    border: none;
    color: #e06c75;
}

.alias-item .alias-delete:hover {
    color: #e5c07b;
}

.alias-item .item-content {
    position: relative;
    margin-top: .1em;
    flex-grow: 2;
}

.alias-item .alias-alias {
	font-size: 1em;
    color: #dcdfe4;
    display: inline-block;
    width: 30%;
}

.alias-item .alias-alias a:any-link {
    color: #dcdfe4;
    text-decoration: none;
}

.alias-item .alias-url {
    display: inline-block;
    width: calc(70% - 40px);
    color: #98c379;
}

.alias-item .alias-copy {
    width: 40px;
    font-size: 0;
}

.alias-item .alias-copy:hover {
    background-color: #e5c07b;
}


.content button {
    background-color: transparent;
    color: #dcdfe4;
    padding: .1em;
    border: none;
}

.content button:hover {
    outline: 0;
}

.content button:focus {
    outline: 0;
}
/*

.content-footer {
    margin-top: 50px;
}

.action-button {
    display: flex;
    justify-content: center;
    align-items: center;
}
*/