@import "https://0ch.me/resources/fonts/iosevka-ss04/webfont.css";

body {
    margin: 0;
    background-color: #282c34;
}

.loading em {
    color: #ffffff;
}

.content {
    position: absolute;
    top: min(max(10%, 30vw), 30%);
    left: 50%;
    transform: translate(-50%, 0%);
    width: 90vw;
    max-width: 600px;
    min-width: 200px;
}

.content * {
    font-family: 'Iosevka SS04 Web';
}

.content input {
    width: 90%;
    outline: 0;
    border: 0;
    padding: .8em;
    background-color: #383a42;
    color: #fafafa;
}

.content button {
    background-color: transparent;
    color: #dcdfe4;
    padding: .1em;
    border: none;
}

.content button:hover {
    outline: 0;
}

.content button:focus {
    outline: 0;
}